<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1sdssssssssssssss</key>
	<array>
		<dict>
			<key>12sssssssssss</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zhike-a-szzb.oss-cn-shenzhen.aliyuncs.com/appDownloadConfigTest/MeiFangTest.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://emmprod.vanke.com/uploads/appIcon/000051_1496198273212.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://emmprod.vanke.com/uploads/appIcon/000051_1496198273212.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vanke.xsxt.xsj.gw.debug</string>
				<key>bundle-version</key>
				<string>5.6.0.26</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>销售家Test顾问</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
